/* ===== Reset & Fonts ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
background-color: #1c2a33;
  color: #FFFFFF;
  line-height: 1.6;
}

/* ===== Header ===== */

header h1 {
  font-size: 1.5rem;
  color: #FACC15; /* Dorado */
  letter-spacing: 1px;
}

nav a {
  color: #FFFFFF;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #FACC15;
  transition: 0.3s;
}

/* ===== Main Section ===== */
main {
  padding: 60px;
  text-align: center;
}

main h2 {
  color: #FACC15;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

/* ===== Gallery Grid ===== */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste dinámico */
  gap: 20px; /* Espaciado entre las cajas */
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
  margin: 0 auto; /* Ce*/

}


.gallery-item {
  background-color: #111827;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  font-size: x-large;
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(250, 204, 21, 0.4);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== Captions ===== */
.caption {
  margin-top: 10px;
  background: rgba(17, 24, 39, 0.85);
  color: #FACC15;
  border-radius: 12px;
  min-height: 100px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.caption:hover{
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(255, 255, 255, 0.527);

}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
.gallery-container {
    grid-template-columns: repeat(2, 1fr); /* Máximo 2 columnas en pantallas pequeñas */
  }
  .caption {
    font-size: 0.9rem; /* Reducir el tamaño del texto */
    min-width: 250px; /* Ajustar el ancho mínimo */
    min-height: 80px; /* Ajustar la altura mínima */
    padding: 6px; /* Reducir el padding */
  }
}

@media (max-width: 660px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }

  .caption {
    font-size: 0.9rem;
    min-width: auto;
    min-height: auto;
  }
}


#temple-image {
  max-width: 450px;
  height: 270px;
  border-radius: 16px;
}
